/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}

#main {
	width: 100%;
	min-height: 100%;
	/* background-color: blue; */
}

#header {
	width: 100%;
	height: 70vh;
	/* background-color: red; */
	font-family: gilroy;
	font-weight: 900;
	font-size: 20px;
	background-image: url(https://images.pexels.com/photos/4454703/pexels-photo-4454703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-size: cover;
	background-position: center;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding: 4% 5%;
}

#navbar #l {
	display: flex;
	align-items: center;
	gap: 8%;
}
#l i {
	font-size: 25px;
	font-weight: 600;
	/* color: yellow; */
}

#l h2 {
	font-size: 23px;
}

.landing > p {
	text-align: center;
	padding-top: 10%;
	font-family: ogg gilroy sans-serif;
	opacity: 0.8;
	/* border-bottom: 5px dotted black; */
	/* position: relative; */
}
.landing > hr {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid salmon;
	width: 30%;
	position: relative;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.landing > h6 {
	position: relative;
	text-align: center;
	bottom: -20px;
	opacity: 0.5;
	/* color:#fff; */
}

/* navbar ends */

.section {
	width: 100%;
	/* height: 90vh; */
	background-color: rgb(216, 215, 215);
	padding: 30px 0px;
}

.column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.section .img {
	height: 35vh;
	width: 78%;
}

.section .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section .text {
	margin-top: 7px;
	height: 35vh;
	width: 78%;
	/* background-color: salmon; */
	text-align: center;
}
.section .text h2 {
	font-family: gilroy;
	font-size: 20px;
	opacity: 0.8;
	font-weight: 600;
}
.section .text p {
	opacity: 0.6;
	font-size: 17px;
	text-align: center;
}

.section .text hr {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid salmon;
	width: 30%;
	position: relative;
	left: 10%;
}
